/* Paleta de cores 1 */
.Moda-1-hex { color: #BF7154; }
.Moda-2-hex { color: #A62317; }
.Moda-3-hex { color: #BF2C1F; }
.Moda-4-hex { color: #590808; }
.Moda-5-hex { color: #BF9F9F; }

/* Paleta de cores 2 */
.Moda-1-hex { color: #30478C; }
.Moda-2-hex { color: #5671A6; }
.Moda-3-hex { color: #D99D55; }
.Moda-4-hex { color: #BF754B; }
.Moda-5-hex { color: #59221D; }


/*Importaçao da fonte lobster*/
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*Importaçao da fonte Black-ops-regular*/
.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

/*Importaçao da fonte Montserrat italic 400*/
.montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

/*Importaçao da fonte Montserrat italic 700*/
.montserrat-alternates-bold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  /*Zerando possiveis pre-configurações do navegador */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* HEADER */
  header{
    max-width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.2)), url(../images/9668057.jpg);
   
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    position: relative;
  
  }

  /*----- NAV ----- */

  header nav#nav-esq {
    width: 100%;
    height: 150px;
    /* background-color: #59221D; */

    display: flex ;
    flex-flow: row;
    align-items: center; 
  }

  header nav#nav-esq div#logo {
    width: 100px;
    height: 120px;
    margin-left: 2rem;
  }

  header nav#nav-esq div#logo img{
    max-width: 100%;
    max-height: 100%;
  }

  /*-----Burguer menu-----*/

  header nav#nav-esq ul#icone-menu{
    display: none;
  }

  header nav#nav-esq ul#icone-menu li{
    list-style: none;

  }

  header nav#nav-esq ul#icone-menu li ion-icon{
    font-size: 50px;
    color: #fff;
    margin: 1.5rem;
  }

  header nav#nav-esq ul#menu-principal{
    margin-left: 5rem;

    display: flex;
    flex-flow: row wrap;
  }

  header nav#nav-esq ul#menu-principal li{
    list-style: none;
    margin-right: 2rem;
  }

  header nav#nav-esq ul#menu-principal li a{
    text-decoration: none;
    color: #fff;
    font-size: 120%;
    text-shadow: 4px 6px 10px #000;
    font-family: "Lobster", sans-serif;
  }

  header nav#nav-esq ul#menu-principal li a:hover{
    border-bottom: solid #ffffff;
    opacity: .8;
  }